<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Welcome to TrainerApp</h1>
    
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        {% load custom_filters %}
        {% if user|has_group:"trainer" %}
            <a href="{% url 'specific_trainer' user.id %}">Trainer account</a><br>
        {% endif %}
        <a href="{% url 'specific_user' user.id %}">Client account</a><br>
        <a href="{% url 'services' %}">Services</a><br>
        <a href="{% url 'trainers' %}">Trainers</a><br>
        <a href="{% url 'logout_page' %}">Logout</a>

    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login_page' %}">Login</a> | 
        <a href="{% url 'register_page' %}">Register Client</a>
        <a href="{% url 'register_trainer' %}">Register Trainer</a>
        
    {% endif %}
</body>
</html>