<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <a href="{% url 'index_page' %}">Home</a><br>
    <h2>Services List</h2>
    <table>
        <thead>
            <tr>
                <th>Service Name</th>
                <th>Category</th>
                <th>Trainer</th>
                <th>Price</th>
                <th>Level</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for service in selected_services %}
            <tr>
                <td><a href="{% url 'specific_service' service.id %}">{{ service.name }}</a></td>
                <td>{{ service.category.name }}</td>
                <td><a href="{% url 'specific_trainer' service.trainer.id %}">{{ service.trainer.username }}</a></td>
                <td>{{ service.price }}</td>
                <td>{{ service.level }}</td>
                <td>{{ service.duration }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% load custom_filters %}
    {% if user|has_group:"trainer" and request.GET.trainer_id|default:"" == user.id|stringformat:"s" %}
        <h3>Post New Service</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Post Service</button>
        </form>
    {% endif %}
</body>
</html>