<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Trainer account</title>
</head>
<body>
    <h2>Your Trainer account</h2>

    <h3>Your Schedule</h3>
        {% if trainer.schedule %}
            <ul>
                {% for entry in trainer.schedule.all %}
                    <li>{{ entry.datetime_start }} to {{ entry.datetime_end }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No schedule available.</p>
        {% endif %}
        Post New Schedule Entry <br>
        <form method="post">
            {% csrf_token %}
            {{ trainer_schedule_form.as_p }}
            <button type="submit" name="trainer_schedule">Submit Trainer Schedule</button>
        </form>

    <h3>Your Services</h3>
        {% if trainer.services.all %}
            {% for service in trainer.services.all %}
                <a href="{% url 'specific_service' service.id %}">{{ service.name }}</a> <br>
            {% endfor %}
        {% else %}
            No services available.
        {% endif %}
        Post New Service <br>
        <form method="post" action="/services/">
            {% csrf_token %}
            {{ service_form.as_p }}
            <button type="submit" name="service">Submit Trainer Service</button>
        </form>
    
    <h3>Your Bookings</h3>
        {% if trainer.bookings_trainer %}
            <table border="1">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Customer</th>
                        <th>Service</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in trainer.bookings_trainer.all %}
                        <tr>
                            <td>{{ booking.id }}</td>
                            <td>{{ booking.customer.username }}</td>
                            <td>{{ booking.service.name }}</td>
                            <td>{{ booking.datetime_start }}</td>
                            <td>{{ booking.datetime_end }}</td>
                            <td>{{ booking.status|yesno:"Active,Inactive" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No bookings available.</p>
        {% endif %}

    <h3>Your Description</h3>
        {% if trainer.description %}
            <h3>{{ trainer.description.name }}</h3>
        {% else %}
            <p>No description available.</p>
        {% endif %}
        Post or Update Your Description<br>
        <form method="post">
            {% csrf_token %}
            {{ trainer_description_form.as_p }}
            <button type="submit" name="trainer_description">Submit Trainer Description</button>
        </form>



</body>
</html>